---
title: Creating a Pivotal Cloud Foundry Product Tile
---

The topics in this section describe the procedure for creating a product tile for use in <a href="https://network.pivotal.io/products/pivotal-cf">Pivotal Cloud Foundry</a> Ops Manager.

## What is a Tile?

PCF Ops Manager installs products in the cloud. Each installed product appears in the Ops Manager dashboard as a tile.

<%= image_tag 'tiles.png' %>

Ops Manager automates the BOSH deployment of software products, but introduces additional complexity as well. As a tile author you should first confirm that your product successfully deploys with BOSH before attempting to deploy it with Ops Manager.

1. [Deploying Your Product with BOSH](./deploying-with-bosh.html) describes the procedure for deploying a release of your software product with BOSH. Confirm that this is successful before proceeding to deploy with Ops Manager.

1. [Deploying Your Product as a Tile in Ops Manager](./deploying-with-ops-man-tile.html) describes the procedure for creating a GUI tile for your product and deploying to Ops Manager.

[Product Template Reference](./product-template-reference.html) provides explanations for the BOSH manifest key-value pairs that are required for an Ops Manager product template.
