---
title: Creating a Pivotal Cloud Foundry Product Tile
---

This topic describes the procedure for creating your own product tile for use in the <a href="https://network.pivotal.io/products/pivotal-cf">Pivotal Cloud Foundry</a> Ops Manager dashboard.

## What is a Tile?

PCF Ops Manager installs products in the cloud. Each installed product appears in the Ops Manager dashboard as a tile.

<%= image_tag 'tiles.png' %>

Pivotal recommends that you confirm that your product successfully deploys with BOSH before attempting to deploy it with Ops Manager. 

1. [Deploying Your Product with BOSH](./deploying-with-bosh.html) describes the procedure for deploying a release of your software product with BOSH. Confirm that this is successful before proceeding to deploy with Ops Manager.

1. [Deploying Your Product as a Tile in Ops Manager](./deploying-with-ops-man-tile.html) describes the procedure for creating a GUI tile for your product and deploying to Ops Manager.

[Product Template Reference](./product-template-reference.html) provides explanations for the key-value pairs used in a BOSH manifest that are required for the product template you will create when deploying your product tile to Ops Manager.
